USE [master]
GO
/****** Object:  Database [SecurePassword]    Script Date: 06/01/2021 17.35.32 ******/
CREATE DATABASE [SecurePassword]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SecurePassword', FILENAME = N'C:\Users\PC Morten\SecurePassword.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SecurePassword_log', FILENAME = N'C:\Users\PC Morten\SecurePassword_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SecurePassword].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SecurePassword]
GO
USE [SecurePassword]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06/01/2021 17.35.32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [varchar](30) NULL,
	[Password] [varchar](50) NULL,
	[Salt] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
